body{
  background-color:#271031;
  font-family:'Droid Sans', sans-serif;
}

header {
  margin:auto;
  padding:0.2em;
}

nav {
  text-align: right;
}

main {
  background: rgb (251,216,219); /* For browsers where rgba isn't supported */
  background: rgba(251,216,219, 0.75);
  padding: 3em;
  margin:0;
}

main section {
  width:80%;
  margin-right:auto;
  margin-left:auto;
}

main picture img{
    width: 100%;
    height: auto;
}

#container{
  text-align: center;
  height: 15em;
  margin:auto;
}

#intro {
  text-align: center;
}

#about{
  text-align: left;
}

#blog-index{
  text-align: left;
}

#projects{
 text-align: center;
}

#resume{
  text-align: left;
}

#copyright{
  text-align: center;
}

footer{
  position:relative;
  padding:1em;
  margin-bottom: 0;
}

h1{
  text-align: center;
  font-size:3em;
}


nav ul li{
    font-weight:bold;
    display: inline;
}

footer ul li{
  font-weight:bold;
  display: inline;
}

a:link {
  text-decoration:none;
  color:#000000;
  font-weight: bold;
}

a:visited {
  color: #7F2C35;
}
