body{
  font-family:'Droid Sans', sans-serif;
  width: 80%;
}

header {
  background-color:#191919;
  margin:auto;
  padding:0.1em;
  color:#FFF056;
}

nav {
  text-align: right;
  color:#FFF056;
}

main {
  background-color:#DFE2DB;
  padding: 5em;
  margin:0;
}

main section {
  width:80%;
  margin-right:auto;
  margin-left:auto;
}

main picture img{
    width: 100%;
    height: auto;
}

#container{
  text-align: center;
  height: 10em;
  margin:auto;
}

#intro {
  text-align: center;
}

#about{
  text-align: left;
}

#blog-index{
  text-align: left;
}

#projects{
 text-align: center;
}

#resume{
  text-align: left;
}

#copyright{
  text-align: center;
}

footer{
  background-color:#FFF056;
  position:relative;
  padding:0.1em;
  margin-bottom: 0;
}

h1{
  color:#FFF056;
  text-align: center;
  font-size:2em;
}

h3{
  text-align: center;
}


nav ul li{
    font-weight:bold;
    display: inline;
}

footer ul li{
  font-weight:bold;
  display: inline;
}


a:link {
  text-decoration:none;
  color:#000000;
  font-weight: bold;
}

nav a:link{
  text-decoration:none;
  color:#FFF056;
  font-weight: bold;
}

nav a:visited {
  color: #4C4819;
}


a:visited {
  color: #333011;
}
