body{
  font-family:'Droid Sans', sans-serif;
  width:70%;
  margin-right:auto;
  margin-left:auto;
}

header {
  background-color:#CC4754;
  margin:auto;
  padding:1px;
}

nav {
  text-align: right;
}

main {
  background-color: #FFA5AE;
  padding: 5px;
  margin:0;
}

main section {
  width:80%;
  margin-right:auto;
  margin-left:auto;
}

main picture img{
    width: 100%;
    height: auto;
}

#container{
  text-align: center;
  height: 400px;
}

#intro {
  text-align: center;
}

#blog-index{
  text-align: left;
}

#copyright{
  text-align: center;
}

footer{
  background-color: #7F2C35;
  position:relative;
  padding:9px;
}

h1{
  text-align: center;
  font-size:45px;
}


nav ul li{
    font-weight:bold;
    display: inline;
}

footer ul li{
  font-weight:bold;
  display: inline;
}

a:link {
  text-decoration:none;
  color:#000000;
  font-weight: bold;
}

a:visited {
  color: #7F2C35;
}