<footer class="site-footer">
<!--   <aside>
    <ul>
      <li><a href="http://www.pinterest.com/laurennor" target="_blank"><img src="/assets/pinterest-sm.png" width="25" height="25" alt="Pinterest"/></a></li>
      <li><a href="https://twitter.com/laurennor" target="_blank"><img src="/assets/twitter_sm.png" width="25" height="25" alt="Twitter"/></a></li>
      <li><a href="https://plus.google.com/+LaurenMurphy" target="_blank"><img src="/assets/googleplus-sm.png" width="25" height="25" alt="Google+"/></a></li>
      <li><a href="http://www.linkedin.com/in/laurenmurphy8" target="_blank"><img src="/assets/linkedin_sm.png" width="25" height="25" alt="LinkedIn"/></a></li>
      <li><a href="https://github.com/laurennor" target="_blank"><img src="/assets/github_sm.png" width="25" height="25" alt="Github"/></a></li>
    </ul>
  </aside>
  <section id="copyright">
    <h4>&#169; Lauren Murphy 2015. All Rights Reserved.</h4>
  </section> -->

  <h2 class="footer-heading">{{ site.title }}</h2>
  <p>{{ site.title }}</p>
  <p>{{ site.description }}</p>

  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</footer>