<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Lauren Murphy" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/default.css" type="text/css" />
  <link rel="stylesheet" href="/css/blog.css" type="text/css" />
  <link rel="stylesheet" href="/css/cheatsheet.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
</head>