
<header>
  <div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="menu-text">
    <strong>Lauren N. Murphy</strong></ul>
  </div>
  <div class="top-bar-right">
    <!-- Create a responsive design that works on different screens -->
      <ul class="menu vertical medium horizontal expanded" data-responsive-menu="drilldown medium-dropdown">
      <li><a href="/">home</a>.</li>
      <li><a href="/about">about</a>.</li>
      <li><a href="/projects">projects</a>.</li>
      <li><a href="/resume">resume</a>.</li>
      <li><a href="/blog/index.html">blog</a>.</li>
      <li><a href="/contact">contact</a>.</li>
      </ul>
  </div>
</div>